# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- How to create Jupyter Notebook on Anaconda Navigator
- How to create an unordered list on Jupyter Notebook
- How to create a markdown cell on Jupyter Notebook

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scipy

|Data Science Tools|
|------------------|
|TensorFlow|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
def convert_minutes_to_hours(minutes):
    return minutes / 60
minutes = 200
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author
Karen Chung